.c-dhn-row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    align-items: center;
  }
  .c-dhn-row--flex {
    display: flex;
    &.is-justify-center {
      justify-content: center;
    }
    &.is-justify-end {
      justify-content: flex-end;
    }
    &.is-justify-space-between {
      justify-content: space-between;
    }
    &.is-justify-space-around {
      justify-content: space-around;
    }
  }